<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="addfile($event)" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  />    
<table class="minimalistBlack" *ngIf="finalresultPass?.length > 0">    
  <thead>    
    <tr>    
      <th>Tenant </th>    
      <th>Time Of Completion </th>    
         
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of finalresultPass;let i = index;">    
      <td> <span>{{record.tenantID}}</span> </td>    
      <td> <span>{{record.executionTime}}</span> </td>    
        
    </tr>    
  </tbody> 
</table> 
  <table class="minimalistBlack" *ngIf="finalresultFail?.length > 0">
  <thead>    
    <tr>    
      <th>Idmid </th>     
      <th>RequestId </th> 
      <th>Error Message </th>    
         
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of finalresultFail;let i = index;">    
      <td> <span>{{record.idmId}}</span> </td>    
      <td> <span>{{record.requestId}}</span> </td>  
      <td> <span>{{record.errorMessage}}</span> </td>      
        
    </tr>    
  </tbody>    
</table> 

 
<!-- <div>
  <h3>File Content</h3>
  <pre> {{fileContent}} </pre>

  <h2>{{mySubString}}</h2>
</div> -->
<button (click)="getData()" >GetData</button>